.riffMachine {
    border-radius: 10px;

    display: inline-block;
    padding: 1em;
    min-width: 80%;
}
.riffMachine h2 {
    display: inline-block;
}
.riffMachine select {
    margin: 2em;
}

.focused {
    background-color: #ddddff;
}

.grid {
    background-color: #ccc;
    position: relative;
    cursor: pointer;
    margin-left: 5em;
}
.grid div {
    pointer-events: none;
}

.rowHilite {
    position: absolute;
    background-color: red;
    opacity: 0.25;
    width: 100%;
}
.colHilite {
    position: absolute;
    background-color: blue;
    opacity: 0.25;
    height: 100%;
}

.note {
    position: absolute;
    background-color: black;
}

.beatLine {
    width: 1px;
    position: absolute;
    background-color: #666;
    height: 100%;
}
.timePointer {
    width: 1px;
    position: absolute;
    background-color: #ff0;
    height: 100%;
}

.grid .measureLine {
    width: 2px;
}

input.short {
    width: 2em;
}

.envDiagram {
    display: inline-flex;
    align-items: center;
}
.envDiagram > div {
    width: 1px;
    background-color: black;
}

.rowLabel {
    color: black;
    left: -4em;
    position: absolute;
    width: 4em;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}
.rowLabel.rowLabelPressed {
    background-color: #fcc;
}
