.grid {
    background-color: #ccc;
    position: relative;
    cursor: pointer;
    margin-left: 2em;
}
.grid div {
    pointer-events: none;
}
.note {
    position: absolute;
    background-color: black;
}
.rowHilite {
    position: absolute;
    background-color: red;
    opacity: 0.25;
    width: 100%;
}
.colHilite {
    position: absolute;
    background-color: blue;
    opacity: 0.25;
    height: 100%;
}

.rowLabel {
    color: black;
    left: -2em;
    position: absolute;
}
.beatLine {
    width: 1px;
    position: absolute;
    background-color: #666;
    height: 100%;
}
.timePointer {
    width: 1px;
    position: absolute;
    background-color: #ff0;
    height: 100%;
}

.grid .measureLine {
    width: 2px;
}

input.short {
    width: 2em;
}

.envDiagram {
    display: inline-flex;
    align-items: center;
}
.envDiagram > div {
    width: 1px;
    background-color: black;
}

.radioLabel {
    display: inline-flex;
    align-items: center;
}
